<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cadastro.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"  
          rel="stylesheet">

    <title>PDI | Plano de Desenvolvimento Individual</title>
</head>

<body id="cadastro">
    
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/">
                    <img src="/assets/icons/back.svg" alt="Voltar">
                </a>
                <img src="/assets/pdi.svg" alt="logo pdi">
            </div>

            <div class="header-content">
                <strong>Plano de Desenvolvimento Individual</strong>
                <p>Plano de Desenvolvimento Individual divido em 4 partes: Now, curto, médio e longo prazo</p>

            </div>
        </header>

        <div class="container">

        <main>

            <section class="section" id="board">
                <div class="container grid">

                <div class="cards grid">
                  <div class="card" id="card-curso">
                    <a href="/create-classes">
                      <h3 class="title">Now - 2022</h3>
                      <p></p>
                    </a>
                  </div>

                  <div class="card" id="card-carreira">
                    <a href="/create-career">
                      <h3 class="title">Curto Prazo - 2023/2024</h3>
                      <p></p>
                    </a>
                  </div>

                  <div class="card" id="card-carreira">
                    <a href="/create-career">
                      <h3 class="title">Médio Prazo - 2025/2027</h3>
                      <p></p>
                    </a>
                  </div>

                  <div class="card" id="card-carreira">
                    <a href="/create-career">
                      <h3 class="title">Longo Prazo - 2028 +</h3>
                      <p></p>
                    </a>
                  </div>

                  <div>
                    <h2 class="description">
                      Conquistas aqui
                    </h2>
                  </div>

                </div>
                </div>
            </section>
        </main>
    </div>
</body>
<script src="../../public/scripts/main.js"></script>
</html>