<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cadastro.css">
    <link rel="stylesheet" href="/styles/partials/modal.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"  
          rel="stylesheet">

    <title>Proffy | Carreiras</title>
</head>

<body id="cadastro">
    
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/">
                    <img src="/assets/icons/back.svg" alt="Voltar">
                </a>
                <img src="/assets/pdi.svg" alt="logo proffy">
            </div>

            <div class="header-content">
                <strong>Bate-Papo de Carreiras</strong>
                <p>Selecione um dos bate-papo para saber mais informaçoes</p>

            </div>
        </header>

        <div class="container">

            <style>
                .card p{
                font-size: 1.2rem;
                }
            </style>

        <main id="career">

            <section class="section" id="board">
                <div class="container grid">

                  
                  <div class="cards grid">

                    
                    <div class="card" id="open-modal1">
                      <a href="#">
                        <h2 class="title">Antonio Souza</h2>
                    </a>
                    </div>
                    
                    <div class="card" id="open-modal2">
                      <a href="#">
                        <h2 class="title">Daniel Medeiros</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal3">
                      <a href="#">
                        <h2 class="title">Gabriel Zangerme</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal4">
                      <a href="#">
                        <h2 class="title">Tales Magalhaes</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal5">
                      <a href="#">
                        <h2 class="title">Lucas Ken</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal6">
                      <a href="#">
                        <h2 class="title">Stella Maria</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal7">
                      <a href="#">
                        <h2 class="title">Larissa Roldao</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal8">
                      <a href="#">
                        <h2 class="title">Anderson Oliveira</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal9">
                      <a href="#">
                        <h2 class="title">Lucas Rosa</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal10">
                      <a href="#">
                        <h2 class="title">Fernando Oliveira</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal11">
                      <a href="#">
                        <h2 class="title">Rodrigo Mello</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal12">
                      <a href="#">
                        <h2 class="title">Eduardo Borges</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal13">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal14">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal15">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal16">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal17">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal18">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="19">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal20">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>
                    <div class="card" id="open-modal21">
                      <a href="#">
                        <h2 class="title">AQUI</h2>
                    </a>
                    </div>


                  </div>

              
            </section>
        </main>
    </div>

    <div id="fate" class="hide"></div>

    <div id="modal" class="hide modal1">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal2">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 11/01/2022</p>
            <p>Nome: Daniel Medeiros De Melo Tiengo</p>
            <p>Estagiário</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal3">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal4">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal5">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal6">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal7">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal8">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal9">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal10">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal11">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal12">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal13">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal14">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal15">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal16">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal17">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal18">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal19">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div> 
    <div id="modal" class="hide modal20">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>
    <div id="modal" class="hide modal21">
        <div class="modal-header">
            <h2>Nome da conversa</h2>
            <button id="close-modal" class="fechar">Fechar</button>
        </div>
        <div class="modal-body">
            <p class="texto1">Data: 07/01/2022</p>
            <p>Nome: Antonio Souza Dos Santos Junior</p>
            <p>Cargo: Anl Telemetria Sr</p>
            <p>Estrutura: Coord Dados E Analytics</p>
        </div>
    </div>

    
</body>
<script src="/scripts/main.js"></script>

</html>