<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cadastro.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"  
          rel="stylesheet">

    <title>Proffy | Perfil</title>
</head>

<body id="cadastro">
    
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/">
                    <img src="/assets/icons/back.svg" alt="Voltar">
                </a>
                <img src="/assets/pdi.svg" alt="logo proffy">
            </div>

            <div class="header-content">
                <strong>Fábio dos Santos Agüero</strong>
                <p>Anl Engenheiro de Dados Jr</p>
                

            </div>
        </header>

        <div class="container">

      
    </div>

    <style>
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 10rem;
            padding: 0 5rem;
            background-color: var(--color-box-base);
            border: 1.5px solid var(--color-line-in-white);
            border-radius: 8px;
            height: 45rem;

        }
        .description h1 {
            color: var(--color-text-title)
        }
        .description p {
            margin-top: 2.5rem;
            text-align: center;
            color: var(--color-text-base)
        }

    </style>

    <main id="career">

        <section class="section" id="board">
            <div class="container grid">

                <div class="description">
                  <div>
                    <h1><strong>
                     Perfil
                    </strong>
                    </h1>

                  </div>
                  <div >
                    
                    <p>
                     Meu nome é Fábio sou casado há 19 anos, moro em Foz do Iguaçu no Paraná e sou apaixonado por tecnologias onde 
                     busco por conhecimento a todo tempo, gosto de ajudar pessoas ao meu redor na parte acadêmica incentivando a buscar 
                     por conhecimento e a se descobrirem profissionalmente.
                     Estou Cursando bacharelado em Ciências da Computação pela Anhembi Morumbi (UAM), tecnólogo em Segurança da Informação 
                     pela Faculdade das Américas (FAM), faço curso de extensão em tecnologias em aplicações para web pela Universidade Norte do 
                     Paraná (UNOPAR).
                     </p>
                     <p>
                     Profissionalmente atuei cerca de 15 anos tanto na área gastronômica quanto na áreas de hotelaria, 
                     tenho muita experiência em comunicação e atendimento ao cliente. Atuei durante 1 ano como Líder Jequiti, onde era 
                     responsável em coordenar cerca de 120 consultoras em sua jornada com vendas, batendo metas e auxiliando no marketing e 
                     vendas de produtos da jequiti.  
                     </p>
                     <p>
                     Na área de TI fiz um bootcamp Full Stack da IGTI ( Instituto de Gestão e Tecnologia da Informação) com as stacks ReactJs,
                     NodeJs, MongoDB, Heroku. Finalizei o curso da Rocketseat Lauchbase e Ignite em ReactJS. Pela Digital Innovation One realizei
                     alguns bootcamp tais como Santander Bootcamp Fullstack Developer, Spread Fullstack Developer, Impulso React Web Developer, 
                     LocalizaLabs React Developer, entre outros.
                     <p>
                     Atualmente sou Anl Engenharia de Dados no Banco Itaú na área de Dados e Analytics Cross, após 9 meses de estágio onde tive
                     contato com várias tecnologias e metodos agiles, 
                     </p>
                      
                    
                </div>
             </div>
             
              </div>

          
        </section>
    </main>
</div>
</body>
<script src="../../public/scripts/main.js"></script>
</html>